
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kalnia+Glaze:wght@100..700&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CL:wght@100..400&family=Playwrite+CU:wght@100..400&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: aqua;
}

h1 {
  color: black;
  text-align: center;
  font-family: Playwrite CL;
}

table {
  width: 100%;
  margin: 20px 0;
  color: black;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: bisque;
}
